form{
    text-align: center;
    width: 400px;
    margin: 20px auto;
    
}

.campos{
    width: 200px;
    height: 20px;
    border: 2px orange solid;
    border-radius: 10px;
}

.botoes{
    text-transform: capitalize;
    font-size: 15px;
    border: none;
    margin-top:  20px;
    margin-left: 04px;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    
}
.botoes:hover{
    cursor: pointer;
    color: black;
    background-color: orange;
}

.salvar, .limpar{
    color:orange;
    background: black;
    border: 1px solid orange;
}